header {
  .navbar-expand {
    .nav-dropdown-container {
      max-width: 100%;
      .button-tags {
        text-decoration: none;
        color: white;
        border: transparent;
        border-radius: 0.3em;
        width: 8em;
        margin-top: 1em;
        .fa-chevron-down {
          margin-left: 1em;
          padding-right: 1em;
        }
        .fa-chevron-up {
          margin-left: 1em;
        }
      }
    }
    .nav-dropdown-ingredients,
    .nav-dropdown-appliances,
    .nav-dropdown-ustensils {
      margin: 0.5em 1.5em 1.5em 0.8em;
      border-radius: 0.3em;
      max-height: 4em;
      width: 9em;
      min-width: 9em;
      .button-tags {
        display: flex;
        #search-ingredients,
        #search-appliances,
        #search-ustensils {
          border: none;
          display: none;
          color: white;
        }
        #search-ingredients::placeholder,
        #search-appliances::placeholder,
        #search-ustensils::placeholder {
          color: white;
          opacity: 0.5;
        }
      }
      .nav-list-ingredients,
      .nav-list-appliances,
      .nav-list-ustensils {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0.5em 1em;
        .li-ingredients,
        .li-appliances,
        .li-ustensils {
          color: white;
          list-style: none;
          cursor: pointer;
        }
      }
    }
    .input-tag:focus {
      border: none;
    }
    .nav-dropdown-ingredients {
      background-color: $ingredient-color;
      .button-tags {
        background-color: $ingredient-color;
        #search-ingredients {
          background-color: $ingredient-color;
        }
      }
    }
    .nav-dropdown-appliances {
      background-color: $appliance-color;
      .button-tags {
        background-color: $appliance-color;
        #search-appliances {
          background-color: $appliance-color;
        }
      }
    }
    .nav-dropdown-ustensils {
      background-color: $ustensil-color;
      .button-tags {
        background-color: $ustensil-color;
        #search-ustensils {
          background-color: $ustensil-color;
        }
      }
    }
  }
}

/* For screen smaller than 992px */
@media screen and (max-width: 992px) {
  header {
    .nav-dropdown-ingredients,
    .nav-dropdown-appliances,
    .nav-dropdown-ustensils {
      .button-tags {
        #search-ingredients,
        #search-appliances,
        #search-ustensils {
          font-size: 0.8em;
        }
      }
      .nav-list-ingredients,
      .nav-list-appliances,
      .nav-list-ustensils {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

/* For screen smaller than 770px */
@media screen and (max-width: 770px) {
  header {
    .nav-dropdown-container {
      display: flex;
      flex-direction: column;
    }
  }
}
