header {
  display: flex;
  justify-content: center;
}

body {
  margin: 42px 100px;
}

.search-div {
  position: relative;
}

.search {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  border: none;
  padding: 22px;
  margin-top: 17px;
}

.fa-search {
  position: absolute;
  right: 0;
  bottom: 38px;
}

.fas {
  font-size: 32.06px;
}

.filters {
  margin-top: 20px;
}

.ingredient-filter {
  background-color: #3282f7;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  color: white;
}

.appareil-filter {
  background-color: #68d9a4;
  margin-left: 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  color: white;
}

.ustensils-filter {
  background-color: #ed6454;
  margin-left: 20px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  color: white;
}
